body{
    background-color: #1f2232;
    color: #fff;
}
h1{
    color: #000;
    background-color: #fd903d;
    width: 550px;
    height: 50px;
    font-size: 36px;

    text-align: center;
    padding: 32px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 0px;
}
form{
    margin-top: 0px;
    height: 260px;
    width: 614px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #232739;
    padding: 20px 0px;
    font-size: 18px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.logowanie{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
input[type=text],input[type=password]{
    padding: 2px 5px;
    width: 240px;
}
input[type=submit]{
    height: 34px;
}
input{
    border: 1px solid #000;
    width: 250px;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 30px;
    font-size: 18px;
    padding: 2px 0px;
    border-radius: 5px;
}
a{
    color: #ffaa3d;
    text-decoration: underline;
}