*{
    font-family: Helvetica;
    font-size: 12pxss;

}
body{
    background-color: #fafafa;
}
table{
    border: 1px solid gainsboro;
    border-collapse: collapse;
}
table input{
    width: 130px;
}
td{
    border: 1px solid gainsboro;
    border-collapse: collapse;
    padding: 3px;
}
tr{
    border: 1px solid gainsboro;
    border-collapse: collapse;

}
.kolumna1{
    width: 30%;
    background-color: rgba(255, 253, 251, 0.909);
}
.kolumna12{
    width: 70%;
    background-color: rgb(236, 236, 236);
}
.kolumna13{
    width: 100%;
    background-color: rgb(236, 236, 236);
}
.kontener{
    border: 1px solid gainsboro;
}
.inside{
    background-color: gainsboro;
    text-align: center;
}
#blue_wysr{
    color: blue;
    text-align: center;
}
select{
    width: 200px;
}
#add{
    text-align: center;
    color: red;
    
}
.khaki{
    background-color:khaki;
}
.lightskyblue{
    background-color: lightskyblue;
}
.lightsteelblue{
    background-color: lightsteelblue;
}
.aliceblue{
    background-color: aliceblue;
}
.azure{
    background-color: #008AD8;
}
.beige{
    background-color: beige;
}
.blanchedalmond{
    background-color: blanchedalmond;
}
.cornsilk{
    background-color: cornsilk;
}
.darkgray{
    background-color: darkgray;
}
.darkkhaki{
    background-color: darkkhaki;
}
.darkseagreen{
    background-color: darkseagreen;
}
.gainsboro{
    background-color: gainsboro;
}
.goldenrod{
    background-color: goldenrod;
}
.lavender{
    background-color: lavender;
}
.lightsalmon{
    background-color: lightsalmon;
}
.limegreen{
    background-color: limegreen;
}
.mediumaquamarine{
    background-color: mediumaquamarine;
}
.silver{
    background-color: silver;
}
.tan{
    background-color: tan;
}
.blue{
    background-color: blue;
}
.mediumslateblue{
    background-color: mediumslateblue;
}
.mediumorchid{
    background-color: mediumorchid;
}
.lightpink{
    background-color: lightpink;
}
.deeppink{
    background-color: deeppink;
}
.crimson{
    background-color: crimson;
}
.red{
    background-color: red;
}
.darkorange{
    background-color: darkorange;
}
.gold{
    background-color: gold;
}
.greenyellow{
    background-color: greenyellow;
}
.lawngreen{
    background-color: lawngreen;
}

