*, *::before, *::after{
    box-sizing: border-box;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;

}
body{
    padding: 0;
    margin: 0;
    background-color: #C3C3C3;
}
#kontener {


    height: 100vh;
}
#naglowek1{
    width: 50%;
    top: 0;
    left: 0;
    padding: 0 3rem;
    background-color: #1F2232;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 20%;
    float: left;
    color: white;
}
#naglowek1 a{
    color: white;
}
#naglowek2{
    width: 50%;
    top: 0;
    left: 0;
    padding: 0 3rem;
    background-color: #1F2232;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 20%;
    float: right;
    color: white;
}
#wybierz{
    clear: both;
    padding: 10px;
    height: 10%;
    width: 100%;
    background-color: rgb(216, 205, 172);
    border: 1px solid white;

}

#glowny{
    
    height: 50%;
    width: 100%;
    background-color: rgb(216, 205, 172);
    float: left;
    padding: 10px;
    border: 1px solid white;
    overflow: auto;


}

#stopka{
    clear: both;
    height: 20%;
    top: 0;
    left: 0;
    padding: 0 3rem;
    background-color: #1F2232;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;

}

#glowny table{
    width: 90%;
    margin: 3%;
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    background-color: rgb(216, 205, 172);
    color: #1F2232;

    
}


td{
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    color: #1F2232;
    padding: 5px;
}
th{
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    color: #1F2232;
    padding: 10px;
}
.srodek{
    text-align: center;
}
h1{
    text-align: center;
    
}
#glowny .usuwanie{
    display: flex;
    justify-content: center;
    align-items: center;
     
}
#add{
    text-align: center;
    color: red;
}